<a href="https://colab.research.google.com/github/katarinagresova/M7DataSP_2020/blob/main/NeuralNetwork.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data TODOs:
- ~~choose dataset~~
- ~~set way of loading data to this notebook~~  *Erik*

# Preprocessing TODOs:
- check missing values
- do one-hot encoding
- (optional: more preprocessing)
- split label
- split train and test

# Model training TODOs:
- create normalizer
- define neural network
- train neural network
- plot the evolution of loss and/or accuracy as a number of epoch increases

#Evaluating TODOs
- evaluate model on test data

# Data import

---

In [4]:
import pandas as pd
import numpy as np

In [5]:
from google.colab import files
uploaded = files.upload()

Saving winequality-red.csv to winequality-red (1).csv

In [7]:
wine = pd.read_csv('winequality-red.csv')

In [8]:
wine.describe()

       fixed acidity  volatile acidity  ...      alcohol      quality
count    1599.000000       1599.000000  ...  1599.000000  1599.000000
mean        8.319637          0.527821  ...    10.422983     5.636023
std         1.741096          0.179060  ...     1.065668     0.807569
min         4.600000          0.120000  ...     8.400000     3.000000
25%         7.100000          0.390000  ...     9.500000     5.000000
50%         7.900000          0.520000  ...    10.200000     6.000000
75%         9.200000          0.640000  ...    11.100000     6.000000
max        15.900000          1.580000  ...    14.900000     8.000000

[8 rows x 12 columns]